/* Users.css - стили ТОЛЬКО для страницы Users */

.users-screen {
    background-color: #2c2c2c;
    min-height: 1024px;
    min-width: 1440px;
    position: relative;
    width: 100%;
  }
  
  .users-text-wrapper {
    color: #ffffff;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    left: 329px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    top: 87px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-36 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 353px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 392px;
    white-space: nowrap;
    width: 258px;
  }
  
  .users-text-wrapper-37 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 353px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 163px;
    white-space: nowrap;
    width: 388px;
  }
  
  .users-text-wrapper-38 {
    color: #bababa;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 372px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 466px;
    width: 132px;
  }
  
  .users-line-5 {
    height: 1px;
    left: 359px;
    background-color: #6d6d6d;
    position: absolute;
    top: 487px;
    width: 983px;
  }
  
  .users-line-6 {
    height: 1px;
    left: 359px;
    background-color: #6d6d6d;
    position: absolute;
    top: 543px;
    width: 983px;
  }
  
  .users-line-7 {
    height: 1px;
    left: 359px;
    background-color: #6d6d6d;
    position: absolute;
    top: 602px;
    width: 983px;
  }
  
  .users-rectangle-3 {
    background-color: #414141;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 10px;
    box-shadow: inset 4px 4px 4px #ffffff29;
    height: 199px;
    left: 329px;
    position: absolute;
    top: 143px;
    width: 751px;
  }
  
  .users-text-wrapper-3 {
    color: #bababa;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 491px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 446px;
    width: 57px;
  }
  
  .users-rectangle-2 {
    background-color: #414141;
    border: 1px solid;
    border-color: #6d6d6d;
    border-radius: 16px;
    box-shadow: inset 3px 4px 4px #ffffff40;
    height: 572px;
    left: 329px;
    position: absolute;
    top: 378px;
    width: 1056px;
  }
  
  .users-style-line {
    height: 20px !important;
    left: 361px !important;
    position: absolute !important;
    top: 512px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-4 {
    color: #bababa;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 739px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 464px;
    width: 118px;
  }
  
  .users-text-wrapper-5 {
    color: #bababa;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 1226px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 464px;
    width: 118px;
  }
  
  .users-text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 388px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 516px;
    white-space: nowrap;
  }
  
  .users-user-instance {
    height: 20px !important;
    left: 356px !important;
    position: absolute !important;
    top: 221px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 383px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 222px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 739px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 517px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1226px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 516px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1226px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 575px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1226px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 633px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 739px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 574px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-13 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 739px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 630px;
    width: 201px;
  }
  
  .users-style-line-instance {
    height: 20px !important;
    left: 361px !important;
    position: absolute !important;
    top: 572px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-14 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 388px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 575px;
    white-space: nowrap;
  }
  
  .users-user-2 {
    height: 20px !important;
    left: 356px !important;
    position: absolute !important;
    top: 260px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 383px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 258px;
    white-space: nowrap;
  }
  
  .users-user-3 {
    height: 20px !important;
    left: 361px !important;
    position: absolute !important;
    top: 627px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-16 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 388px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 630px;
    white-space: nowrap;
  }
  
  .users-user-4 {
    height: 20px !important;
    left: 356px !important;
    position: absolute !important;
    top: 295px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-17 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 383px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 294px;
    white-space: nowrap;
  }
  
  .users-line {
    height: 1px;
    left: 361px;
    background-color: #6d6d6d;
    position: absolute;
    top: 657px;
    width: 983px;
  }
  
  .users-user-5 {
    height: 20px !important;
    left: 363px !important;
    position: absolute !important;
    top: 681px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-18 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 390px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 685px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-19 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1228px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 685px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-20 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 741px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 686px;
    white-space: nowrap;
  }
  
  .users-user-6 {
    height: 20px !important;
    left: 363px !important;
    position: absolute !important;
    top: 741px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-21 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 741px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 743px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-22 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 390px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 744px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-23 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1228px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 744px;
    white-space: nowrap;
  }
  
  .users-user-7 {
    height: 20px !important;
    left: 363px !important;
    position: absolute !important;
    top: 796px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-24 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 390px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 799px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-25 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 741px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 799px;
    width: 201px;
  }
  
  .users-text-wrapper-26 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1228px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 802px;
    white-space: nowrap;
  }
  
  .users-img {
    height: 1px;
    left: 363px;
    background-color: #6d6d6d;
    position: absolute;
    top: 826px;
    width: 983px;
  }
  
  .users-line-2 {
    height: 1px;
    left: 361px;
    background-color: #6d6d6d;
    position: absolute;
    top: 712px;
    width: 983px;
  }
  
  .users-line-3 {
    height: 1px;
    left: 361px;
    background-color: #6d6d6d;
    position: absolute;
    top: 771px;
    width: 983px;
  }
  
  .users-user-8 {
    height: 20px !important;
    left: 363px !important;
    position: absolute !important;
    top: 847px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-27 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 390px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 851px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-28 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1228px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 851px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-29 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 741px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 852px;
    white-space: nowrap;
  }
  
  .users-user-9 {
    height: 20px !important;
    left: 363px !important;
    position: absolute !important;
    top: 907px !important;
    width: 20px !important;
  }
  
  .users-text-wrapper-30 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 741px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 909px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-31 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 390px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 910px;
    white-space: nowrap;
  }
  
  .users-text-wrapper-32 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 1228px;
    letter-spacing: -0.20px;
    line-height: normal;
    position: absolute;
    top: 910px;
    white-space: nowrap;
  }
  
  .users-line-4 {
    height: 1px;
    left: 361px;
    background-color: #6d6d6d;
    position: absolute;
    top: 878px;
    width: 983px;
  }
  
  .users-rectangle-4 {
    background-color: #8234f7;
    border-radius: 16.5px;
    height: 27px;
    left: 908px;
    position: absolute;
    top: 221px;
    width: 131px;
  }
  
  .users-text-wrapper-33 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 943px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 227px;
    width: 79px;
  }
  
  .users-rectangle-5 {
    background-color: #7e7e7e;
    border-radius: 16.5px;
    height: 27px;
    left: 908px;
    position: absolute;
    top: 257px;
    width: 131px;
  }
  
  .users-rectangle-6 {
    background-color: #8234f7;
    border-radius: 16.5px;
    height: 27px;
    left: 908px;
    position: absolute;
    top: 294px;
    width: 131px;
  }
  
  .users-text-wrapper-34 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 937px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 261px;
    width: 79px;
  }
  
  .users-text-wrapper-35 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 943px;
    letter-spacing: -0.30px;
    line-height: normal;
    position: absolute;
    top: 299px;
    width: 79px;
  }