#root {
  margin: 0;
  padding: 0;
}

/* Общие стили для всех страниц */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Helvetica, sans-serif;
  background-color: #2c2c2c;
  color: #ffffff;
}

/* Общие утилиты */
.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: #ffffff;
}

.text-gray {
  color: #8b8b8b;
}

.loading {
  color: white;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}